version: '3.9'

services:
  db:
    image: postgres:15
    container_name: send_money_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: send_money_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5  
      
  adminer:
    image: adminer
    container_name: send_money_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

  app:
    build: .
    container_name: send_money_app
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/usr/src/app
    command: npm run dev
    working_dir: /usr/src/app      
    
volumes:
  pgdata:      